@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ebf0fa;
    font-family: OpenSans, Arial, Helvetica, sans-serif;;
}

input{
    width: 89%;
}


.form-radi{
    border-radius: 25%;
    min-width: 574px;
}
